/* Ваш код CSS */
.photo {
  display: block; /* Устанавливаем свойство display в block, чтобы изображение отображалось как блочный элемент */
  margin: 0 auto; /* Устанавливаем автоматические отступы слева и справа, чтобы изображение было выровнено по центру по горизонтали */
  max-width: 100%; /* Устанавливаем максимальную ширину изображения в 120% от родительского элемента, чтобы оно было чуть шире */
  height: 85%; /* Устанавливаем высоту изображения в auto, чтобы она масштабировалась пропорционально */
}
  .long-bar {
      width: 100%; /* Устанавливаем ширину полоски на 100% от родительского элемента */
      height: 20px; /* Устанавливаем высоту полоски на 20 пикселей */
      background-color: yellow; /* Устанавливаем цвет фона полоски */
    }
      .container {
            max-width: 300px;
            margin: 0 auto;
            background-color: transparent;
            padding: 20px;
        }

        .text {
            background-color: transparent;
            color: black;
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px; /* Добавлен отступ снизу */
        }

        .line {
            background-color: black;
            height: 5px;
            margin-top: 10%;
            margin-bottom: 20px;
        }