.container {
    /*position: relative;*/
    max-width: 1000px;
    padding: 20px;
    top: 11%;
}
#backgr{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/*.photo {*/
/*    !*display: block;*!*/
/*    !*max-width: 100%;*!*/
/*    !*left: 0%;*! !* удалить или закомментировать эту строку *!*/
/*    width : 100%; !* изменить "weight" на "width" и задать значение в процентах или другой единице измерения *!*/
/*    height: 80%; !* увеличиваем высоту фото до 80% *!*/
/*}*/


.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 30px;
    text-align: center;
}

.text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.text p {
    font-size: 24px;
    margin-bottom: 30px;
}

.text .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.text .btn:hover {
    background-color: #0056b3;
}
