

#glavnaia{
    margin-left: 10%;
    white-space: nowrap;
}
#kn {
    margin-left: 0%;
    white-space: nowrap;
}

#number {
    margin-left: 9%;
}

#oformlenie {
    margin-left: 4%;
}

#pokypka {
    margin-left: 30%;
}

#kom_nedv {
    margin-left: 8%;
}

#rent {
    margin-left: 12%;
}

.dropdown-hover-content {
    right: -100%;
}

.black-background .section {
    text-align: center;
}

.global-flats__item {
    display: inline-block;
    margin-right: 1cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

.global-flats__item img {
    width: 100%;
}

.global-flats__item h2 {
    font-size: 24px;
    margin: 0;
}

.global-flats__item p {
    font-size: 16px;
    margin: 0;
}

.green-button {
    background-color: rgb(85, 189, 85);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.header {
    margin-top: 10px;
}

.parallax-container {
    height: 400px;
    position: relative;
    overflow: hidden;
}

.parallax-container .parallax {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.parallax-container img {
    min-height: 400px;
    min-width: 100%;
    opacity: 0.7;
}

.carousel-indicators button {

    width: 2.5rem;
    margin: 0.2cm;
    height: 0.4rem;
    /* Другие свойства стиля, если нужно */
}

.carousel-control-prev-icon {
    font-size: 0.75rem; /* Set the font size to 0.75 rem */
}

.blue-background {
    background-color: rgb(85, 189, 85);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.blocks {
    margin-left: 20%;
}

.blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 10px;
    font-weight: bold;
}

.dropdown {
    position: relative;
    width: 150px;
    height: 30px;
    cursor: pointer;
    user-select: none;
}

.dropdown-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid white;
    border-top: none;
    border-radius: 0 0 5px 5px;
    z-index: 1;
    display: none;
}

.dropdown-option {
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: lightgray;
}

.dropdown.open .dropdown-options {
    display: block;
}

.range-slider {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.range-slider-label {
    font-weight: bold;
}

.range-slider-copy {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#btn_show {
    /*display: block;*/
    margin-top: 160px;
    left: 47%;
    position: absolute;
}


#accordionFlushExample {
    background-color: olive;
    width: 50%;
    margin: 0 auto;

}
.btn-container {
  text-align: center;
}
.mb-3{
    /*position: absolute;*/
   width: 50%;
    margin: 0 auto;
}
.back_container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://riviera-gardens.com.ua/img/newImg/bg_faq.png');

    margin: 0 auto;
}


@media (max-width: 1400px) {
    #kn {
        margin-left: 0%;
        white-space: nowrap;
    }

    #number {
        margin-left: 9%;
    }

    #oformlenie {
        margin-left: 4%;
    }

    #pokypka {
        margin-left: 10%;
    }

    #kom_nedv {
        margin-left: 5%;
    }

    #rent {
        margin-left: 15%;

    }
}



