{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <style>

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark fixed-top" style="padding-left: 0.3cm; padding-right: 0.3cm;">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'main/img/realtor.png' %}" alt="Логотип" class="img-fluid"
             style="max-height: 70px; max-width: 150px;">
    </a>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown" id='pokypka' onmouseover="showDropdown('pokypka')"
                    onmouseout="hideDropdown('pokypka')">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Придбання квартири
                    </a>
                    <ul class="dropdown-menu" id="pokypka-dropdown" onmouseover="showDropdown('pokypka')"
                        onmouseout="hideDropdown('pokypka')">

                        <li><a class="dropdown-item" href="#">Житловий район "Сади Рів'єри"</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" id='kom_nedv' onmouseover="showDropdown('kom_nedv')"
                    onmouseout="hideDropdown('kom_nedv')">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Комерційна нерухомість
                    </a>
                    <ul class="dropdown-menu" id="kom_nedv-dropdown" onmouseover="showDropdown('kom_nedv')"
                        onmouseout="hideDropdown('kom_nedv')">

                        <li><a class="dropdown-item" href="#">ФАСАДНІ ПРИМІЩЕННЯ</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Кладові</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown" id='rent' onmouseover="showDropdown('rent')"
                    onmouseout="hideDropdown('rent')">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Оренда
                    </a>
                    <ul class="dropdown-menu" id="rent-dropdown" onmouseover="showDropdown('rent')"
                        onmouseout="hideDropdown('rent')">

                        <li><a class="dropdown-item" href="#">КВАРТИРИ</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Кладові</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">КОМЕРЦІЙНІ ПРИМІЩЕННЯ</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown" id='oformlenie' onmouseover="showDropdown('oformlenie')"
                    onmouseout="hideDropdown('oformlenie')">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Оформлення документів
                    </a>
                    <ul class="dropdown-menu" id="oformlenie-dropdown" onmouseover="showDropdown('oformlenie')"
                        onmouseout="hideDropdown('oformlenie')">
                        <li><a class="dropdown-item" href="#">Реєстрація права власності на нерухомість, землю</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Дозвіл на будівництво та реконструкцію</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Проект відведення земельної ділянки (приватизація)</a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Технічний паспорт</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Присвоєння кадастрового номера</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Оформлення перпланування приміщень</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Введення об'єкта в експлуатацію</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Висновок про можливість поділу, виділу в одиницю</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Поділ або об’єднання земельної ділянки</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Зміна цільового призначення земельної ділянки</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Експертна оцінка нерухомості</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Комплексне проектування</a></li>
                    </ul>

                </li>

                <a class="navbar-brand text-white" id='number' href="#">+380972831340</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <li class="nav-item" id='kn'>
                    <a type="button" class="btn btn-success" href="{% url 'call' %}">Заказать звонок</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

{% block content %} {% endblock %}

<div class="blue-background " style="height: 300px;width: 100%">
    <div class="container">

        <h2 style="text-align: center;height: 60px ">ВИБІР КВАРТИРИ ЗА ПАРАМЕТРАМИ</h2>
        <div class="blocks">

            <div class="block">
                <div class="title">Черга:</div>

                <select class="form-select" aria-label="Default select example">
                    <option selected>Усі черги</option>
                    <option value="1">Секція 1</option>
                    <option value="2">Секція 2</option>
                    <option value="3">Секція 3</option>
                    <option value="3">Секція 4</option>
                    <option value="3">Секція 5</option>
                    <option value="3">Секція 6</option>
                    <option value="3">Секція 7</option>
                    <option value="3">Секція 8</option>
                </select>
            </div>

            <div class="d-flex flex-column">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Усі варіанти
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Студія
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        1 кімнатна
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        2 кімнатна
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        3 кімнатна
                    </label>
                </div>
            </div>


            <div class="block">

                <div class="title">Площа:</div>
                <label for="customRange1" class="form-label">22 - 79 кв. м.</label>
                <input type="range" class="form-range" min="22" max="79" id="customRange1">

                <div class="title">Поверх:</div>
                <label for="customRange2" class="form-label">1 - 12</label>
                <input type="range" class="form-range" min="1" max="12" id="customRange2">
            </div>

            <div class="text-center" id='btn_show'>
                <a type="button" class="btn btn-success" href="{% url 'show_apartment' %}">ПОКАЗАТИ</a>
            </div>
        </div>
    </div>
</div>
</div>








{% block content2 %} {% endblock %}






<div class="back_container">

    <h2 style="text-align: center;height: 50px; margin-top: 20px;">FAQ</h2>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item text-center">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Де найкраще купити квартиру в Одесі?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Селище Котовського одне із найбільш населених районів міста, яке
                    розвивається швидкими темпами. Житловий район «Сади Рів'єри», що розташований на селищі
                    Котовського, біля ТРЦ «Рів'єра» - це
                    чудова можливість придбати квартиру в новобудові за вигідною ціною. Ціни на квартири в
                    новобудові на селищі Котовського стартують від 370 000 гривень. Близькість до моря нового району
                    «Сади Рів'єра», стіни з червоної цегли та відокремлені квартали від
                    проїжджої частини, роблять цей район одним із найекологічніших у місті. При цьому інфраструктура
                    та транспорт розвинені на селищі Котовського дуже добре. Проектом також передбачено будівництво
                    дитячого садка. Купити квартиру в Одесі в «Садах Рів'єри» зможе кожен – ціни дуже доступні, а
                    якістю життя ви будете задоволені!
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Скільки коштують квартири у новому районі на селищі Котовського «Сади Рів'єри»?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Вартість квадратного метра у новому новобудові на селищі Котовського
                    «Сади
                    Рів'єри» залежить від термінів здачі секцій, способу оплати та площі квартири. Діапазон цін від
                    499
                    у. до 635 у.о. кв.м. Вибираючи квартиру у новому житловому районі «Сади Рів'єри» ви отримуєте
                    новий
                    рівень комфортного та безпечного життя в Одесі.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                        aria-controls="flush-collapseThree">
                    Як купити квартиру в розстрочку на Котовському?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Купити квартиру на виплат на селищі Котовського в житловому районі «Сади
                    Рів'єри» дуже просто. Для цього вам необхідно звернутися до інформаційного відділу з паспортом
                    та
                    кодом. Купуючи квартиру на виплат, ви отримуєте масу переваг:

                    <ol>
                        <li>Не потрібна застава, оскільки заставою є квартира.</li>
                        <li>Не потрібна довідка про доходи.</li>
                        <li>Ви можете вибирати зручний спосіб погашення розстрочки та сплатити всю суму, не чекаючи
                            термінів закінчення договору.
                        </li>
                        <li>Початковий внесок під час оформлення розстрочки на квартиру від 10%.</li>
                        <li>Розстрочку можна оформити до закінчення будівництва, а саме до 30 місяців.</li>
                    </ol>

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false"
                        aria-controls="flush-collapseFour">
                    Який відсоток при купівлі квартир у новобудові на Котовському?
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Початковий внесок при придбанні квартири на виплат становить від 10% до
                    75%.
                    Чим більший початковий внесок, тим менша переплата за розстрочення та сума щомісячного платежу.
                    Наші
                    менеджери інформаційного відділу завжди підберуть вам зручний варіант розстрочки за вашим
                    запитом.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false"
                        aria-controls="flush-collapseFive">
                    Де купити комерційну нерухомість на селищі Котовського?
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">На території житлового району «Сади Рів'єри» передбачені всі об'єкти
                    комерційної нерухомості для повного задоволення вашого комфортного життя. На перших поверхах
                    будинків будуть розташовані комерційні об'єкти. Серед них будуть: клініка сімейної медицини,
                    продуктові супермаркети, салон краси, хімчистка, аптека, пекарня та кав'ярня, послуги нотаріуса,
                    фітнес-центр, центр дитячого розвитку. Також передбачено будівництво окремого дитячого садка.

                    В наявності є комерційні приміщення від 40 кв.м., вартістю від 800 у.о./кв.м.
                </div>
            </div>
        </div>

    </div>
</div>

</div>


<div id="my-div"></div>

<div class="back_container2">
    <h2 style="text-align: center;height: 60px;margin-top: 20px;">ПОСТАВТЕ ПИТАННЯ І МИ З РАДІСТЮ ВАМ ДОПОМОЖЕМО</h2>

    <form method="post" action="{% url 'call2' %}" id="my-form">
        {% csrf_token %}
        <label for="{{ form2.name.id_for_label }}">Ім'я</label>
        <input type="text" name="{{ form2.name.html_name }}" id="{{ form2.name.auto_id }}"
               value="{{ form2.name.value|default:'' }}" placeholder="Введіть ім'я"
               maxlength="{{ form2.name.field.max_length }}" required>

        <label for="{{ form2.phone_number.id_for_label }}">Номер телефону</label>
        <input type="text" name="{{ form2.phone_number.html_name }}" id="{{ form2.phone_number.auto_id }}"
               value="{{ form2.phone_number.value|default:'' }}" placeholder="Введіть номер телефону"
               maxlength="{{ form2.phone_number.field.max_length }}" required>

        <label for="{{ form2.content.id_for_label }}">ПОСТАВТЕ ПИТАННЯ І МИ З
            РАДІСТЮ ВАМ ДОПОМОЖЕМО</label>
        <textarea style="height: 100px; resize: vertical; overflow-y: auto;" name="{{ form2.content.html_name }}"
                  id="{{ form2.content.auto_id }}" placeholder="Ваше запитання"
                  maxlength="{{ form2.content.field.max_length }}"
                  required>{{ form2.content.value|default:'' }}</textarea>


        <button type="submit">Отправить</button>
    </form>
</div>





{#<div class="back_container2">#}
{#    <h2 style="text-align: center;height: 60px;margin-top: 20px; ">ПОСТАВТЕ ПИТАННЯ І МИ З#}
{#        РАДІСТЮ ВАМ ДОПОМОЖЕМО</h2>#}
{#    <div class="mb-3">#}
{#        <label for="exampleFormControlInput1" class="form-label">Ваше имя</label>#}
{#        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name">#}
{#    </div>#}
{#    <div class="mb-3">#}
{#        <label for="exampleFormControlInput1" class="form-label">Email address</label>#}
{#        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">#}
{#    </div>#}
{#    <div class="mb-3">#}
{#        <label for="exampleFormControlInput1" class="form-label">Телефон</label>#}
{#        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="+380000000000">#}
{#    </div>#}
{#    <div class="mb-3">#}
{#        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>#}
{#        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>#}
{#    </div>#}
{#    <div class="btn-container">#}
{#        <a type="button" class="btn btn-success" href="{% url 'call' %}">Надiслати</a>#}
{#    </div>#}
{#</div>#}




<script src="{% static 'main/js/my.js' %}"></script>
</body>
</html>