{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <style>

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark fixed-top" style="padding-left: 0.3cm; padding-right: 0.3cm;">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'main/img/realtor.png' %}" alt="Логотип" class="img-fluid"
             style="max-height: 70px; max-width: 150px;">
    </a>
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown" id='pokypka'>
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Покупка квартиры
                    </a>
                    <ul class="dropdown-menu style=">

                        <li><a class="dropdown-item" href="#">Жилой район "Сады Ривьеры"</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown" id='kom_nedv'>
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Коммерческая недвижимость
                    </a>
                    <ul class="dropdown-menu style=">

                        <li><a class="dropdown-item" href="#">ФАСАДНЫЕ ПОМЕЩЕНИЯ</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">КЛАДОВЫЕ</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown" id='rent'>
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Аренда
                    </a>
                    <ul class="dropdown-menu style=">

                        <li><a class="dropdown-item" href="#">КВАРТИРЫ</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">КЛАДОВЫЕ</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">КОММЕРЧЕСКИЕ ПОМЕЩЕНИЯ</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown" id='oformlenie'>
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Оформление документов
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">3</a></li>
                    </ul>
                </li>

                <a class="navbar-brand text-white" id='number' href="#">+380972831340</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <li class="nav-item" id='kn'>
                    <a type="button" class="btn btn-success" href="{% url 'call' %}">Заказать звонок</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

{% block content %} {% endblock %}

<div class="blue-background " style="height: 500px;width: 100%">
            <div class="container">

                <h2 style="text-align: center;height: 60px ">ВЫБОР КВАРТИРЫ ПО ПАРАМЕТРАМ</h2>
                <div class="blocks">

                    <div class="block">
                        <div class="title">Очередь:</div>

                        <select class="form-select" aria-label="Default select example">
                            <option selected>Все очереди</option>
                            <option value="1">Секция 1</option>
                            <option value="2">Секция 2</option>
                            <option value="3">Секция 3</option>
                            <option value="3">Секция 4</option>
                            <option value="3">Секция 5</option>
                            <option value="3">Секция 6</option>
                            <option value="3">Секция 7</option>
                            <option value="3">Секция 8</option>
                        </select>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Все варианты
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Студия
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                1 комнатная
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                2 комнатная
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                3 комнатная
                            </label>
                        </div>
                    </div>


                    <div class="block">

                        <div class="title">Площадь:</div>
                        <label for="customRange1" class="form-label">22 - 79 кв. м.</label>
                        <input type="range" class="form-range" min="22" max="79" id="customRange1">

                        <div class="title">Этаж:</div>
                        <label for="customRange2" class="form-label">1 - 12</label>
                        <input type="range" class="form-range" min="1" max="12" id="customRange2">
                    </div>

                    <div class="text-center" id='btn_show'>
                        <a type="button" class="btn btn-success" href="{% url 'show_apartment' %}">ПОКАЗАТЬ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% block content2 %} {% endblock %}

<script src="{% static 'main/js/my.js' %}"></script>
</body>
</html>