{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class=""
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"
                    class="active" aria-current="true"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item" data-bs-interval="10000">
                <img src="{% static 'main/img/rent.jpg' %}" class="d-block w-100" width="100%" height="600" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Коммерческие обЬекты</h5>
                    <p>У нас есть варианты именно для вас.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">

                <img src="{% static 'main/img/com_nedv.jpg' %}" class="d-block w-100" width="100%" height="600"
                     alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Аренда</h5>
                    <p>Тут вы можете арендовать помещение под ваши нужды</p>
                </div>
            </div>
            <div class="carousel-item active">

                <img src="{% static 'main/img/apart.jpg' %}" class="d-block w-100" width="100%" height="600" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Квартиры</h5>
                    <p>Димон лох.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>


    <div class="black-background">
    <div class="section">
{#        <img src="{% static 'main/img/choose.png' %}" alt="Логотип" class="img-fluid"#}
{#             style="height: 150px; width:100%;">#}
        <h2 class="header text-center bg-dark" style="height: 150px; width:100%; margin-top: -5px; color: white; display: flex; justify-content: center; align-items: center;">ОБЕРИ СВОЮ МРІЮ</h2>

        <h2 class="header text-center" style="height: 80px;margin-top: 20px;">СКІЛЬКИ КІМНАТ У ТВОЇЙ МРІЇ?</h2>

        <div class="global-flats__item">
            <img src="{% static 'main/img/1.jpg' %}" alt="1 комнатная" class="global-flats__img">
            <h2>1 КІМНАТНІ</h2>
            <p>от 18 396 у.е.</p>
            <button class="green-button">Підібрати квартиру</button>
        </div>

        <div class="global-flats__item">
            <img src="{% static 'main/img/2.jpg' %}" alt="2 комнатная" class="global-flats__img">
            <h2>2 КІМНАТНІ</h2>
            <p>от 26 336 у.е</p>
            <button class="green-button">Підібрати квартиру</button>
        </div>

        <div class="global-flats__item">
            <img src="{% static 'main/img/3.jpg' %}" alt="3 комнатная" class="global-flats__img">
            <h2>3 КІМНАТНІ</h2>
            <p>от 36 314 у.е.</p>
            <button class="green-button">Підібрати квартиру</button>
        </div>
    </div>
    </div>

{% endblock %}





{% block content2 %}

{#<div class="back_container2">#}
{#        <h2 style="text-align: center;height: 60px;margin-top: 20px; ">ПОСТАВТЕ ПИТАННЯ І МИ З#}
{#            РАДІСТЮ ВАМ ДОПОМОЖЕМО</h2>#}
{#        <div class="mb-3">#}
{#            <label for="exampleFormControlInput1" class="form-label">Ваше имя</label>#}
{#            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name">#}
{#        </div>#}
{#        <div class="mb-3">#}
{#            <label for="exampleFormControlInput1" class="form-label">Email address</label>#}
{#            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">#}
{#        </div>#}
{#        <div class="mb-3">#}
{#            <label for="exampleFormControlInput1" class="form-label">Телефон</label>#}
{#            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="+380000000000">#}
{#        </div>#}
{#        <div class="mb-3">#}
{#            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>#}
{#            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>#}
{#        </div>#}
{#        <div class="btn-container">#}
{#            <a type="button" class="btn btn-success" href="{% url 'call' %}">Надiслати</a>#}
{#        </div>#}
{##}
{#    </div>#}

{% endblock %}