{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<style>
	
	</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="{% url 'index' %}">
		<img src="{% static 'main/img/realtor.png' %}" alt="Логотип" class="img-fluid" style="max-height: 70px; max-width: 150px;">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ml-auto">

			<li class="nav-item active">
				<a class="nav-link" href="{% url 'index' %}">Главная</a>
			</li>

			<li class="nav-item dropdown dropdown-hover">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Покупка квартиры
				</a>
				<div class="dropdown-hover-content dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Жилой район "Сады Ривьеры"</a>

				</div>
      </li>

      <li class="nav-item dropdown dropdown-hover">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Коммерческая недвижимость
        </a>
        <div class="dropdown-hover-content dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">ФАСАДНЫЕ ПОМЕЩЕНИЯ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">КЛАДОВЫЕ</a>
        </div>
    </li>
    
    <li class="nav-item dropdown dropdown-hover">
        <a class="nav-link dropdown-toggle1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Аренда
        </a>
        <div class="dropdown-hover-content dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">КВАРТИРЫ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">КЛАДОВЫЕ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">КОММЕРЧЕСКИЕ ПОМЕЩЕНИЯ</a>
        </div>
    </li>

      <li class="nav-item">
				<a class="nav-link" href="{% url 'index' %}">Оформление документов</a>
			</li>

      <li class="nav-item">
        <button type="button" class="btn btn-success">Заказать звонок</button>
      </li>
        </ul>
        </div>
  </nav>


    
    <!-- Add parallax sections -->
    <div class="parallax-container" style="height: 700px;">
        <div class="parallax"><img src="{% static 'main/img/first.jpg' %}"></div>
    </div>
      
      <div class="black-background">
        <div class="section">
            <img src="{% static 'main/img/choose.png' %}" alt="Логотип" class="img-fluid" style="height: 150px; width:100%;">
        
          <h2 class="header text-center" style="height: 80px;">СКОЛЬКО КОМНАТ У ТВОЕЙ МЕЧТЫ?</h2>

          <div class="global-flats__item">
            <img src="{% static 'main/img/1.jpg' %}" alt="1 комнатная" class="global-flats__img">
            <h2>1 КОМНАТНЫЕ</h2>
            <p>от 18 396 у.е.</p>
            <button class="green-button">Подобрать квартиру</button>
          </div>

          <div class="global-flats__item">
            <img src="{% static 'main/img/2.jpg' %}" alt="2 комнатная" class="global-flats__img">
            <h2>2 КОМНАТНЫЕ</h2>
            <p>от 26 336 у.е</p>
            <button class="green-button">Подобрать квартиру</button>
          </div>

          <div class="global-flats__item">
            <img src="{% static 'main/img/3.jpg' %}" alt="3 комнатная" class="global-flats__img">
            <h2>3 КОМНАТНЫЕ</h2>
            <p>от 36 314 у.е.</p>
            <button class="green-button">Подобрать квартиру</button>
          </div>
      </div>


    
      <div class="container" style="height: 250px; width: 100vw;">
        <h2>ВЫБОР КВАРТИРЫ ПО ПАРАМЕТРАМ</h2>
        <div class="blocks">
      
          <div class="block">
            <div class="title">Очередь:</div>
            <div class="dropdown">
              <div class="dropdown-label">Все очереди</div>
              <div class="dropdown-options">
                <div class="dropdown-option">Вариант 1</div>
                <div class="dropdown-option">Вариант 2</div>
                <div class="dropdown-option">Вариант 3</div> 
              </div>
            </div>
          </div>
      
          <div class="block">
            <div class="title">Количество комнат:</div>
            <div class="dropdown">
              <div class="dropdown-label">Все варианты</div>
              <div class="dropdown-options">
                <div class="dropdown-option">Вариант 1</div>
                <div class="dropdown-option">Вариант 2</div>
                <div class="dropdown-option">Вариант 3</div>
              </div>
            </div>
          </div>
      
          <div class="block">
            
              <div class="title">Площадь:</div>
              <label for="customRange1" class="form-label">22 - 79 кв. м.</label> 
              <input type="range" class="form-range" min="22" max="79" id="customRange1">
          
              <div class="title">Этаж:</div>
              <label for="customRange2" class="form-label">1 - 12</label> 
              <input type="range" class="form-range" min="1" max="12" id="customRange2">
          </div>
          
      
        </div>
      </div>

      <div class="parallax-container">
        <div class="parallax"><img src="{% static 'main/img/kv.jpg' %}"></div>
      </div>

    <script src="{% static 'main/js/my.js'%}"></script>
</body>
</html>