{% extends 'main/base.html' %}
{% load static %}
<title>{{ title }}</title>
{% block content %}

    <h2 style="text-align: center;height: 60px ">ВЫБОР КВАРТИРЫ ПО ПАРАМЕТРАМ</h2>
{% endblock %}

{% block content2 %}


    <div class="row" style="margin-top: 50px; margin-left: 4cm; margin-right: 2cm;">
{% for p in apartment %}
        <div class="col-md-4">

            <div class="card mx-2 my-2" style="width: 20rem;">
                    {%  if p.photo %}
                        <img src="{{ p.photo.url }}">
                        {% else %}
                        <img src="{% static 'main/img/shema.jpg' %}" class="card-img-top" alt="...">
                    {% endif %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Кімнат: {{ p.rooms }}</li>
                        <li class="list-group-item">Поверх: {{ p.etaj }}</li>
                        <li class="list-group-item">Площа: {{ p.ploshad }}</li>
                        <li class="list-group-item">Цена за квадрат: {{ p.price_za_kvadrat }}</li>
                        <li class="list-group-item">Общая цена: {{ p.total_price }}</li>
                    </ul>
                    <div class="card-body text-center">
                        <a type="button" class="btn btn-success" href="{% url 'call' %}">Пiдiбрати квартиру</a>
                    </div>
            </div>

        </div>
        {% endfor %}
    </div>


    {#    <div class="row" style="margin-top: 50px; margin-left: 4cm; margin-right: 2cm;">#}
    {##}
    {##}
    {#        <div class="col-md-4">#}
    {##}
    {#            <div class="card mx-2 my-2" style="width: 20rem;">#}
    {##}
    {#                <img src="{% static 'main/img/shema.jpg' %}" class="card-img-top" alt="...">#}
    {#                <ul class="list-group list-group-flush">#}
    {#                    {%for p in show_apartment %}#}
    {#                    <li class="list-group-item">Кімнат: {{ show_apartment.rooms }}</li>#}
    {#                    <li class="list-group-item">Поверх: {{ show_apartment.etaj }}</li>#}
    {#                    <li class="list-group-item">Площа:{{ show_apartment.ploshad }}</li>#}
    {#                    <li class="list-group-item">Цена за квадрат: {{ show_apartment.price_za_kvadrat }}</li>#}
    {#                    <li class="list-group-item">Общая цена: {{ show_apartment.total_price }}</li>#}
    {#                    {% endfor %}#}
    {#                </ul>#}
    {##}
    {#            </div>#}
    {##}
    {#        </div>#}

    {##}
    {#    <div class="row" style="margin-top: 50px; margin-left: 4cm; margin-right: 2cm;">#}
    {#        <div class="col-md-4">#}
    {#            <div class="card mx-2 my-2" style="width: 20rem;">#}
    {#                <img src="{% static 'main/img/shema.jpg' %}" class="card-img-top" alt="...">#}
    {#                <ul class="list-group list-group-flush">#}
    {#                    <li class="list-group-item">Кімнат:</li>#}
    {#                    <li class="list-group-item">Поверх:</li>#}
    {#                    <li class="list-group-item">Площа:</li>#}
    {#                    <li class="list-group-item">Цена за квадрат:</li>#}
    {#                    <li class="list-group-item">Общая цена:</li>#}
    {##}
    {#                </ul>#}
    {#                <div class="card-body text-center">#}
    {#                    <a type="button" class="btn btn-success" href="{% url 'call' %}">Пiдiбрати квартиру</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="col-md-4">#}
    {#            <div class="card mx-2 my-2" style="width: 20rem;">#}
    {#                <img src="{% static 'main/img/shema.jpg' %}" class="card-img-top" alt="...">#}
    {#                <ul class="list-group list-group-flush">#}
    {#                    <li class="list-group-item">Кімнат:</li>#}
    {#                    <li class="list-group-item">Поверх:</li>#}
    {#                    <li class="list-group-item">Площа:</li>#}
    {#                </ul>#}
    {#                <div class="card-body text-center">#}
    {#                    <a type="button" class="btn btn-success" href="{% url 'call' %}">Пiдiбрати квартиру</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="col-md-4">#}
    {#            <div class="card mx-2 my-2" style="width: 20rem;">#}
    {#                <img src="{% static 'main/img/shema.jpg' %}" class="card-img-top" alt="...">#}
    {#                <ul class="list-group list-group-flush">#}
    {#                    <li class="list-group-item">Кімнат:</li>#}
    {#                    <li class="list-group-item">Поверх:</li>#}
    {#                    <li class="list-group-item">Площа:</li>#}
    {#                </ul>#}
    {#                <div class="card-body text-center">#}
    {#                    <a type="button" class="btn btn-success" href="{% url 'call' %}">Пiдiбрати квартиру</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="col-md-4">#}
    {#            <div class="card mx-2 my-2" style="width: 20rem;">#}
    {#                <img src="{% static 'main/img/shema.jpg' %}" class="card-img-top" alt="...">#}
    {#                <ul class="list-group list-group-flush">#}
    {#                    <li class="list-group-item">Кімнат:</li>#}
    {#                    <li class="list-group-item">Поверх:</li>#}
    {#                    <li class="list-group-item">Площа:</li>#}
    {#                </ul>#}
    {#                <div class="card-body text-center">#}
    {#                    <a type="button" class="btn btn-success" href="{% url 'call' %}">Пiдiбрати квартиру</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="col-md-4">#}
    {#            <div class="card mx-2 my-2" style="width: 20rem;">#}
    {#                <img src="{% static 'main/img/shema.jpg' %}" class="card-img-top" alt="...">#}
    {#                <ul class="list-group list-group-flush">#}
    {#                    <li class="list-group-item">Кімнат:</li>#}
    {#                    <li class="list-group-item">Поверх:</li>#}
    {#                    <li class="list-group-item">Площа:</li>#}
    {#                </ul>#}
    {#                <div class="card-body text-center">#}
    {#                    <a type="button" class="btn btn-success" href="{% url 'call' %}">Пiдiбрати квартиру</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="col-md-4">#}
    {#            <div class="card mx-2 my-2" style="width: 20rem;">#}
    {#                <img src="{% static 'main/img/shema.jpg' %}" class="card-img-top" alt="...">#}
    {#                <ul class="list-group list-group-flush">#}
    {#                    <li class="list-group-item">Кімнат:</li>#}
    {#                    <li class="list-group-item">Поверх:</li>#}
    {#                    <li class="list-group-item">Площа:</li>#}
    {#                </ul>#}
    {#                <div class="card-body text-center">#}
    {#                    <a type="button" class="btn btn-success" href="{% url 'call' %}">Пiдiбрати квартиру</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="col-md-4">#}
    {#            <div class="card mx-2 my-2" style="width: 20rem;">#}
    {#                <img src="{% static 'main/img/shema.jpg' %}" class="card-img-top" alt="...">#}
    {#                <ul class="list-group list-group-flush">#}
    {#                    <li class="list-group-item">Кімнат:</li>#}
    {#                    <li class="list-group-item">Поверх:</li>#}
    {#                    <li class="list-group-item">Площа:</li>#}
    {#                </ul>#}
    {#                <div class="card-body text-center">#}
    {#                    <a type="button" class="btn btn-success" href="{% url 'call' %}">Пiдiбрати квартиру</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="col-md-4">#}
    {#            <div class="card mx-2 my-2" style="width: 20rem;">#}
    {#                <img src="{% static 'main/img/shema.jpg' %}" class="card-img-top" alt="...">#}
    {#                <ul class="list-group list-group-flush">#}
    {#                    <li class="list-group-item">Кімнат:</li>#}
    {#                    <li class="list-group-item">Поверх:</li>#}
    {#                    <li class="list-group-item">Площа:</li>#}
    {#                </ul>#}
    {#                <div class="card-body text-center">#}
    {#                    <a type="button" class="btn btn-success" href="{% url 'call' %}">Пiдiбрати квартиру</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="col-md-4">#}
    {#            <div class="card mx-2 my-2" style="width: 20rem;">#}
    {#                <img src="{% static 'main/img/shema.jpg' %}" class="card-img-top" alt="...">#}
    {#                <ul class="list-group list-group-flush">#}
    {#                    <li class="list-group-item">Кімнат:</li>#}
    {#                    <li class="list-group-item">Поверх:</li>#}
    {#                    <li class="list-group-item">Площа:</li>#}
    {#                </ul>#}
    {#                <div class="card-body text-center">#}
    {#                    <a type="button" class="btn btn-success" href="{% url 'call' %}">Пiдiбрати квартиру</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {##}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>


    </div>













    {#    <div class="back_container">#}
    {#        <h2 style="text-align: center;height: 60px;margin-top: 20px; ">ПОСТАВТЕ ПИТАННЯ І МИ З#}
    {#            РАДІСТЮ ВАМ ДОПОМОЖЕМО</h2>#}
    {#        <div class="mb-3">#}
    {#            <label for="exampleFormControlInput1" class="form-label">Ваше имя</label>#}
    {#            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name">#}
    {#        </div>#}
    {#        <div class="mb-3">#}
    {#            <label for="exampleFormControlInput1" class="form-label">Email address</label>#}
    {#            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">#}
    {#        </div>#}
    {#        <div class="mb-3">#}
    {#            <label for="exampleFormControlInput1" class="form-label">Телефон</label>#}
    {#            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="+380000000000">#}
    {#        </div>#}
    {#        <div class="mb-3">#}
    {#            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>#}
    {#            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>#}
    {#        </div>#}
    {#        <div class="btn-container">#}
    {#            <a type="button" class="btn btn-success" href="{% url 'call' %}">Надiслати</a>#}
    {#        </div>#}
    {##}
    {#    </div>#}






{% endblock %}